* {
  background-color: rgb(255, 238, 217); /* Light Orange */
}

p {
  padding-left: 70px;
  padding-top: 50px;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(122, 74, 10); /* Brown */
  font-weight: 400;
}

button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 109); /* Yellow */
  border: 2px solid #e0a655; /* Orange Border */
  padding: 15px 32px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 16px;
  border-radius: 1em;
  margin: 5px;
  margin-left: 70px;
  color: rgb(81, 49, 7); /* Darker Brown */
  font-weight: 600;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #e0a655; /* Green */
  color: white;
}
